root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
tab_width = 4

[*.gradle]
ij_continuation_indent_size = 8

[*.java]
max_line_length = off
ij_continuation_indent_size = 8 # IntelliJ default
# Imports
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = unset
# Wrapping and Braces
ij_java_keep_simple_blocks_in_one_line = true
ij_java_keep_simple_classes_in_one_line = true
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_keep_simple_methods_in_one_line = true

[*.{json,properties}]
indent_size = 2

[run/config/skyblocker/item-repo/**.json]
indent_style = space
insert_final_newline = false

[.editorconfig]
indent_style = space
indent_size = 4
